__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.ipynb_checkpoints
.pytest_cache/
.vscode/
.idea/
node_modules/
dist/
build/
.DS_Store
.vercel
